global:
  domain: argocd.local

server:
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/hsts: "false"
    hosts:
      - argocd.local
    paths:
      - /

repoServer:
  livenessProbe:
    enabled: true
    httpGet:
      path: /healthz
      port: 8084
    initialDelaySeconds: 120
    timeoutSeconds: 15
    periodSeconds: 20
    failureThreshold: 5
      
configs:
  params:
    server.insecure: "true"