{{- if ne .Release.Name "api-gateway" }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ .Release.Name }}-secrets
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  refreshInterval: "15s"
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: {{ .Release.Name }}-env
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: {{ .Release.Name }}
      conversionStrategy: Default
      decodingStrategy: None
      metadataPolicy: None
{{- end }}