apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: postgres-access-policy
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: postgresql
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: auth
    - podSelector:
        matchLabels:
          app: product
    - podSelector:
        matchLabels:
          app: order
    ports:
    - protocol: TCP
      port: 5432