# Replica and History Settings
replicaCount: 1
revisionHistoryLimit: 3

# Init Container
initContainers:
  enabled: true
  name: wait-for-db
  image: busybox:1.28
  command:
    - sh
    - -c
    - "until nc -zv postgresql 5432; do echo waiting for db; sleep 2; done;"

# Image Settings
image:
  name: "ebadarshad/prod-order:v1.0.0"
  pullPolicy: IfNotPresent

# Networking
service:
  port: 5003

# Ingress Settings
ingress:
  enabled: false
  # path: /dev(/|$)(.*) 

# Resources (Must be set for HPA to work)
resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "256Mi"

# Health Checks (Probes)
probes:
  startupPath: "/healthz"
  startupDelay: 30
  livenessPath: "/healthz"
  livenessDelay: 15
  readinessPath: "/healthz"
  readinessDelay: 5

# Horizontal Pod Autoscaler
hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  cpu:
    averageUtilization: 70
  memory:
    averageUtilization: 80

# Extra Envs
extraEnv:
  PRODUCT_URL: http://product:5002
  RABBITMQ_URL: amqp://rabbitmq:5672
  RABBITMQ_PRODUCT_QUEUE: product
  RABBITMQ_ORDER_QUEUE: order