rabbitmq:
  image:
    registry: docker.io 
    repository: bitnamilegacy/rabbitmq    

  auth:
    username: "broker_admin"
    existingPasswordSecret: "rabbitmq-credentials"
    existingErlangSecret: "rabbitmq-credentials"
    existingErlangSecretKey: "rabbitmq-erlang-cookie"

  global:
    security:
      allowInsecureImages: true
  management:
    enabled: true

  persistence:
    enabled: true
    storageClass: "local-path"
    size: 2Gi
    accessMode: ReadWriteOnce
  
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

  readinessProbe:
    exec:
      command: ["rabbitmq-diagnostics", "-q", "check_port_connectivity"]
    initialDelaySeconds: 40 
    periodSeconds: 10
    timeoutSeconds: 5 
  livenessProbe:
    exec:
      command: ["rabbitmq-diagnostics", "-q", "check_port_connectivity"]
    initialDelaySeconds: 60 
    periodSeconds: 20
    timeoutSeconds: 5 

  podAntiAffinityPreset: soft

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist